@font-face {
    font-family: osc-light; /* Имя шрифта */
    src: url("../fonts/OpenSansCondensed-Light.ttf"); /* Путь к файлу со шрифтом */
   }

body{
    color: #727171;    
    font-family: osc-light;
}

p {
    text-indent: 1.5em; /* Отступ первой строки */
    text-align: justify;
}

.orange-text {
    color: #ee8728;
}

.bold-text{
    font-weight: bold;
}

.orange-background{
    background-color: #e9750a;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 40px;
}

.aboutus-title-block,
.btl-actions-title-block, 
.partners-title-block,
.contacs-title-block{
    margin-top: 25px;    
    margin-bottom: 35px;
    font-size: 48px;
}

.statistics-block h4:nth-child(2){
    font-weight: bold;
}

.statistics-block h4{
    margin: 0;
}

.partners-image-block{
    margin-bottom: 40px;    
    width:100%;
}

.footer-logo-image-block{        
    width:100%;
    margin-top: 30px;
}

.footer-logo-image-block img,
.partners-image-block img{  
    width:inherit;
}

.contacts-block{
    background-image: url("../images/contacts-bg-720.jpg");
    height: 300px;
    color: white;
    margin-bottom: 15px;
}

.footer-block{
    background-color: #3f3e3e;
}

.footer-logo-image{
    width: 240px;
}

.bottomnav-block{
    margin-top: 30px;
}

.bottomnav, 
.topnav{
    height: 50px;
    margin-bottom: 20px;    
}

.bottomnav{
    width: 325px; /*если не задать точную ширину, то центровка center стилем не будет работать*/
}

.topnav{
    width: 345px; /*если не задать точную ширину, то центровка center стилем не будет работать*/
}



.bottomnav a,
.topnav a{
    font-size: 24px;
    float: left;
    display: block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none; /*Убирает черту под гиперссылкой*/
    color: #727171
}

.topnav a {
    font-weight: 300;
    border-bottom: 3px solid #727171;
  }

  .topnav a:hover {
    border-bottom: 3px solid #ee8728;
  }
  
  .topnav a.active {
    border-bottom: 3px solid #ee8728;
  }

  .topnav div:nth-child(1), 
  .topnav div:nth-last-child(1){
    width: 6px;
    height: 57px;
    float: left;
    border-bottom: 3px solid #727171;
  }



.top-logo{
    margin-bottom: 20px;
    margin-right: 3%;
    float: right;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.slider-text-vertical-center{
    padding-top: 50%;
}

.custom-container{
    width: 940px;
}

.carousel-control .slider-left-arrow-image,
.carousel-control .slider-right-arrow-image{
    width: 34px;
    height: 56px;    
    position: absolute;    
    top: 40%;
}


.carousel-control .slider-right-arrow-image{
    right: -30%;
    background-image: url("../images/slide-arrow-right.png");
}

.carousel-control .slider-left-arrow-image{
    left: -45%;
    background-image: url("../images/slide-arrow-left.png");
}

.right-ref{
    right:0;
    left: auto;    
    opacity: 1;
}

.left-ref{
    right:auto;
    left: 0;    
    opacity: 1;
}


a, a:hover{
    text-decoration: none; /*Убирает черту под гиперссылкой*/
    color: #727171
}

.arrow-to-bottom-image{
    position: absolute;
    top: 40px;
    background-image: url("../images/arrow-to-bottom.png");
    width: 92px;
    height: 60px;
    left: -80px;
}

.arrow-to-bottom{
    margin-top: 55px;
    margin-bottom: 30px;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-vk {
    background: #3B5998;
    color: white;
}