@font-face {
    font-family: osc-light; /* Имя шрифта */
    src: url("../fonts/OpenSansCondensed-Light.ttf"); /* Путь к файлу со шрифтом */
   }

body{
    color: #727171;    
    font-family: osc-light;
}

p {
    text-indent: 1.5em; /* Отступ первой строки */
    text-align: justify;
}

.orange-text {
    color: #ee8728;
}

.bold-text{
    font-weight: bold;
}

.orange-background{
    background-color: #e9750a;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 40px;
}

.aboutus-title-block,
.btl-actions-title-block, 
.partners-title-block,
.contacs-title-block{
    margin-top: 25px;    
    margin-bottom: 35px;
    font-size: 48px;
}

.statistics-block h4:nth-child(2){
    font-weight: bold;
}

.statistics-block h4{
    margin: 0;
}

.partners-image-block{
    margin-bottom: 40px;    
    width:inherit;
}

.partners-image-block img{  
    width:inherit;
}

.contacts-block{
    background-image: url("../images/contacts-bg-720.jpg");
    height: 300px;
    color: white;
    margin-bottom: 15px;
}

.footer-block{
    background-color: #3f3e3e;
    height: 100px;
}

.footer-logo-image{
    width: 240px;
}

.topnav{
    height: 50px;
    margin-bottom: 20px;
    width: 245px;
}


.topnav a {
    font-size: 15px;
    font-weight: 300;
    float: left;
    display: block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none; /*Убирает черту под гиперссылкой*/
    border-bottom: 3px solid #727171;
    color: #727171
  }

  .topnav a:hover {
    border-bottom: 3px solid #ee8728;
  }
  
  .topnav a.active {
    border-bottom: 3px solid #ee8728;
  }

  .topnav div:nth-child(1), 
  .topnav div:nth-last-child(1){
    width: 6px;
    height: 44px;
    float: left;
    border-bottom: 3px solid #727171;
  }



.top-logo{
    margin-bottom: 20px;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.custom-container{
    width: 940px;
}